.header {
    height: 60px;
    width: 100%;
    border: 2px black;
    border-style: solid;
    display: flex;
    justify-content: space-between;
}

.title {
    margin-left: 1%;
}

.adminbutton {
    margin-right: 1%;
}